@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');


* {
  margin : 0;
  padding : 0;
}

.App,#root,html,body {
  height: 100%;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li, a, h1, h2, p, div, span {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}
