@mixin flex($orientation: row, $main-axis: center, $opposite-axis: center) {
  display: flex;
  flex-direction: $orientation;
  justify-content: $main-axis;
  align-items: $opposite-axis;
}

$center-width: 71.9vw;
