@use 'mixins' as mix;

.App {
  background: transparent;
  overflow-y: scroll;
}

section {
  height: 100vh;
}

section:not(#home) {
  background: white;
  position: relative;
  @include mix.flex(column, center, center);
}

section:not(#home)::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 2;
  top: 70%;
  right: 93%;
  width: 200px;
  height: 200px;
  background-image: url('../assets/agrobeads_leaf.png');
  background-size: contain;
  background-repeat: no-repeat;
}

section:not(#home)::before {
  display: block;
  content: "";
  position: absolute;
  z-index: 2;
  bottom: 75%;
  left: 93%;
  width: 200px;
  height: 200px;
  background-image: url('../assets/agrobeads_drop.png');
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 1700px) {
  section:not(#home) {
    background: white;
    position: relative;
    @include mix.flex(row, center, center);
  }
}
